body {
  background-color: rgb(251, 249, 229);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

#quote-box {
  display: table;
  padding: 40px 45px;
  border-radius: 15px;
  text-align: center;
  width: 500px;
  margin: 0px auto;
  height: 300px;
  font-size: 15px;
  background-color: rgb(216, 189, 241, 0.75);
  position: relative;
  color: white;
}

#author {
  width: 450px;
  height: auto;
  clear: both;
  color: white;
  padding-top: 20px;
  font-size: 1em;
  text-align: right;
  position: absolute;
}

#new-quote {
  background-color: rgba(170, 94, 241, 0.75);
  width: 75px;
  height: auto;
  color: white;
  border-radius: 3px;
  font-style: oblique;
  border: dotted;
  position: relative;
  cursor: pointer;
}
#new-quote:hover {
  background-color: rgba(231, 222, 240, 0.75);
}
